<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
How to Write an Email to a Friend.
<ul>

<li>Email is a quick, easy way to communicate with friends. You can write an email to a friend any way you like, but some basic guidelines may be helpful. If you’re writing an email to a friend you haven’t seen in a while, it’s a good idea to apologize for the lack of communication and give them an update. Feel free to attach images and emojis to spice up your email, and don’t forget to proofread before sending it off.</li>



</ul>

<div>
Example:
</div>

<div>
<img  src="img/JavaFriendly.jpg">
</div>
</body>


<a href="http://localhost:8080/">BACK</a>
</html>