<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
Newsletter Examples and Design Ideas
<ul>

<li>Newsletters can be a self mailer with a half fold, tri fold or quarter fold or inserted into envelopes flat or folded. Get some inspiration and ideas for designing your own newsletter for your company or organization.</li>



</ul>

<div>
Example:
</div>

<div>
<img  src="img/JavaNews.png">
</div>
</body>


<a href="http://localhost:8080/">BACK</a>
</html>